body {
    font-family: sans-serif;
    height: 150vh;
  }
  
  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  
  .bg-dark,
  .bg-light {
    padding: 15px;
  }
  
  .bg-dark {
    background-color: #7f7fff;
    color: white;
  }
  
  .bg-light {
    background-color: #f6f6f6;
    color: black;
  }
  
  #header.scrolled .bg-dark {
    border-bottom: 1px solid white;
  }
  #header.scrolled .searchbar {
    display: none;
    padding: 15px 0;
  }